#dashboard {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
}

#stats {
    background-color: rgb(2, 2, 87);
    color: white;
}

#container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
}